html,
body,
#root,
.app-layout {
  height: 100%;
}

.speedCheckCardStyle {
  flex: 1;
  margin: 5px;
}

.badge {
  background-color: lightblue !important;
  color: white !important;
}

.nav-link {
  font-weight: 500;
}

.bg-dark hr {
  border-color: #ff5722;
}

.bg-light hr {
  border-color: black;
}

.bg-open-gray {
  background-color: #303030 !important;
}

.score-card-container {
  display: flex; 
  justify-content: space-between; 
  align-items: stretch; 
  flex-wrap: wrap; 
}

.card {
  margin: 10px;
  flex: 1;
  min-width: 200px; 
}

